.footer
  padding: $baseline 0

  @media (min-width: $tablet)
    flex-wrap: nowrap

  &__container
    justify-content: space-between
    flex-wrap: wrap

    @media (min-width: $tablet)
      flex-wrap: nowrap

  &__list
    flex: 0 0 100%
    display: flex
    list-style: none
    margin: 0 0 $baseline
    flex-wrap: wrap
    align-items: flex-start

    @media (min-width: $tablet)
      flex-basis: auto
      flex-wrap: nowrap
      margin: 0

    &-item
      flex: 0 0 100%
      margin: 0 $baseline 0 0

      @media (min-width: $tablet)
        flex-basis: auto
