.page-content
  padding: $baseline 0

  &__list
    @extend %h1
    list-style: none
    margin: 0 0 $baseline

    &-item
      display: flex
      align-items: center

      &:not(:last-of-type)
        margin: 0 0 ($baseline / 2)

      &__icon
        display: inline-flex
        height: 1em
        width: 1em
        @extend .objFit
        margin: 0 0 0 ($baseline / 4)
        
        img
          object-fit: contain !important
