.nav
  &[aria-hidden="true"]
    display: none

  &__list
    display: flex
    flex-wrap: wrap
    list-style: none
    margin: 0

    @media (min-width: $smallDesktop)
      flex-wrap: nowrap
      justify-content: flex-end

    &-item
      &:not(:last-child)
        margin-right: 1.5em

    &-link
      +opacityHover
      text-decoration: none
