.now-playing
  &__link
    +opacityHover
    display: flex
    text-decoration: none

    &-icon
      height: 1em
      margin-right: .5ch
      width: auto

    &-label
      font-weight: $secondFontWeight
