{% capture srcset %}
{% for i in resized %}
    {{ site.cdn_url }}/{{ i.path }} {{ i.width }}w,
{% endfor %}
{% endcapture %}

{% capture srcset-webp %}
{% for i in resized %}
    {{ site.cdn_url }}/{{ i.dirname }}/{{ i.filename }}.webp {{ i.width }}w,
{% endfor %}
{% endcapture %}

{% assign smallest = resized | sort: 'width' | first %}
{% assign largest = resized | sort: 'width' | last %}

<figure class="{{ class }} image"
        {% if headerModifier %}data-header-modifier="{{ headerModifier }}"{% endif %}>
  <div class="image__wrapper">
    <picture>
        <source data-lazy-load-srcset="{{ srcset | strip_newlines }}"
                {% if instantLoad %}
                    data-load-instantly="true"
                {% endif %}
                alt="{{ alt }}"
                sizes="{{ sizes }}"
                crossorigin />
        <img data-lazy-load-src="{{ site.cdn_url }}/{{ largest.path }}"
            {% if instantLoad %}
                data-load-instantly="true"
            {% endif %}
            alt="{{ alt }}"
            crossorigin />
    </picture>

    <noscript>
        <img src="{{ site.cdn_url }}/{{ largest.path }}"
            alt="{{ alt }}"
            crossorigin />
    </noscript>
  </div>

  {%- if embed -%}
    {{ embed }}
  {%- endif -%}

  {% if caption %}
    <figcaption class="image__caption">
      <p>{{ caption | improve }}</p>
    </figcaption>
  {% endif %}
</figure>