<footer class="footer">
  <div class="footer__container container container--flex">
    <ul class="footer__list">
      <li class="footer__list-item">
        <a href="https://github.com/jessehigson" target="_blank" class="link">Github</a>
      </li>

      <li class="footer__list-item">
        <a href="https://www.linkedin.com/in/jessehigson/" target="_blank" class="link">LinkedIn</a>
      </li>

      <li class="footer__list-item">
        <a href="https://open.spotify.com/user/1163025207?si=gx4eT4L6Sj6ddNGYwv7nhA" target="_blank" class="link">Spotify</a>
      </li>
    </ul>
  </div>
  </div>
</footer>
