$fontStackSansSerif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif
$primaryFont: 'Inter', $fontStackSansSerif

$firstFontWeight: regular
$secondFontWeight: 500

$fontSize: 100%
$baseline: 1.2em

/* Browser widths */
$largeMobile: 30em // 480px
$tablet: 45em // 720px
$smallDesktop: 63.75em // 1020px
$maxSmallDesktop: calc(63.75em - 0.0625rem) // 1019px
$smallDesktop: 63.75em // 1020px
$mediumDesktop: 75em // 1200px
$desktop: 87.5em // 1400px
$largeDesktop: 100em // 1600px

$containerWidth: 105em // 1680px

$gutterMobile: 1em // 16px
$gutterTablet: 1.5em // 24px
$gutterDesktop: 4em // 64px

$blockSpacerMobile: ($gutterMobile * 1)
$blockSpacerTablet: ($gutterTablet * 1)
$blockSpacerDesktop: ($gutterDesktop * 1)

$transitionDuration: .3s
$transitionDurationLong: .5s
$transitionTimingFunction: ease

$opacityHover: 0.6

$minTouchSize: 2.75rem
