<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no" />

    {% include head/critical-css.html %}
    {% include head/favicons.html %}
    {% include head/seo.html %}
    {% include head/fonts.html %}
    {% include head/css.html %}
    {% include head/scripts.html %}
    {% include head/analytics.html %}
  </head>

  <body class="{{ page.body_class | default: 'page' }}">
    <nav id="skip-to">
      <a href="#main-content">Skip to content</a>
      <a href="#main-nav">Skip to nav</a>
    </nav>

    <a id="top"></a>

    <div class="content-container">
      {% include components/header.html %}

      <main role="main" id="main-content" class="main">
        {{ content }}
      </main>
    </div>

    {% include components/smileys.html %}

    {% include components/footer.html %}

    <nav id="back-to-top">
      <a href="#top">Back to top</a>
    </nav>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "name": "Jesse Higson",
        "url": "https://www.jessehigson.com/",
        "description": "Jesse Higson is a developer from Portsmouth, UK currently building websites at Superrb."
      }
    </script>
  </body>
</html>
