.hero
  align-items: center
  display: flex
  min-height: calc(100vh - 10.1875em)

  @media (min-width: $smallDesktop)
    min-height: 100vh

  &__content
    max-width: $tablet

    @media (min-width: $smallDesktop)
      margin-top: -3.5em

  &__headshot
    margin-bottom: .5em
    width: 7.777777777777778em

  &__title
    @extend %h0
    margin: 0

    p
      margin: 0

    a
      +opacityHover

  &__contact-link
    +opacityHover
    @extend %h3
    display: inline-block
    margin-top: 2em
    // text-decoration: none

  &__nav
    margin-top: 3em
