.hero
  align-items: center
  display: flex
  min-height: 100vh

  &__content
    max-width: $tablet

  &__title
    @extend %h0
    margin: 0

  &__contact-link
    +opacityHover
    @extend %h3
    display: inline-block
    margin-top: 2em
    text-decoration: none
