.hero
  +spacingDouble
  align-items: center
  display: flex

  &__content
    max-width: $tablet

  &__headshot
    margin-bottom: .5em
    width: 7.777777777777778em

  &__title
    @extend %h0
    margin: 0

    p
      margin: 0

    a
      +opacityHover

  &__nav
    margin-top: 3em
